.item {
  position: relative;
  width: 220px;
  height: 150px;
  margin: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid lightgray;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.item h3 {
  position: absolute;
  text-align: center;
  font-size: 20px;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  z-index: 1;
}

.item:hover {
  background: #5dade2;
}

.item:hover img {
  opacity: 0.3;
  z-index: 0;
}
